{template "content","header"}
<!DOCTYPE html>
<html>

	<link rel="stylesheet" href="{CSS_PATH}zms/news.css" />

<body>

	<div id="header"></div>
	<img class="banner" src="{IMG_PATH}zms/pic_guanyubanner.png" alt="" />
	<div class="contentWrap">
		<div class="aboutTab">
			{pc:content action="category" catid="$catid"  return="datainfo" }
			{php $i = 0 ;}
				{loop $datainfo $k $val}
					{php if($i == 0){$chrend_catid = $k;} }
					
					<a href="/index.php?m=content&c=index&a=lists&catid={$val[catid]}" {if $i == 0 }class="active"{/if} >{$val[catname]}</a>
					{php $i++;}
				{/loop}
			{/pc}
		</div>

		<div class="w_about">
			{pc:get sql="SELECT * FROM v9_page where catid = '$chrend_catid' "  return="data" }
				{loop $data $key $val}
					<h1>{$val['title']}</h1>
					{$val[content]}
				{/loop}
			{/pc}
		</div>
	</div>
	{template "content","footer"}

	<script src="{JS_PATH}zms/jquery2.js"></script>
	
</body>

</html>

