<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{CSS_PATH}zms/footer.css" />
  <body>
    <div class="footer">
      <div class="footer-box">
        <div class="foot-top">
          <div class="left">
            <div class="list">
              <div class="name">关于我们</div>
              <div class="item"><a href="/">公司简介</a></div>
              <div class="item">资质荣誉</div>
              <div class="item">企业文化</div>
              <div class="item">社会责任</div>
            </div>
            <div class="list">
              <div class="name">劳务派遣</div>
              <div class="item">服务内容</div>
              <div class="item">服务流程</div>
              <div class="item">服务保障</div>
            </div>
            <div class="list">
              <div class="name">人事代理</div>
              <div class="item">代发工资</div>
              <div class="item">代缴社保</div>
              <div class="item">代缴公积金</div>
              <div class="item">代买商业险</div>
            </div>
            <div class="list">
              <div class="name">委托招聘</div>
              <div class="item">猎头服务</div>
              <div class="item">速聘服务</div>
            </div>
            <div class="list">
              <div class="name">残疾人年审</div>
              <div class="item">政策解读</div>
              <div class="item">残保金核算</div>
              <div class="item">残疾人安置方案</div>
              <div class="item">年审代理</div>
            </div>
            <div class="list">
              <div class="name">商业外包</div>
              <div class="item">人力资源外包</div>
              <div class="item">财务外包</div>
              <div class="item">岗位外包</div>
            </div>
            <div class="list">
              <div class="name">管理咨询</div>
              <div class="item">拓展活动</div>
              <div class="item">组织架构</div>
              <div class="item">薪酬绩效</div>
              <div class="item">薪税优化</div>
            </div>
          </div>
          <div class="right">
            <div class="img-box">
              <img src="{IMG_PATH}zms/pic_zhuanye.png" alt="" />
              <img src="{IMG_PATH}zms/logo_wode.png" alt="" />
            </div>
            <div class="item">单位：郑州中晟沃德人力资源服务有限公司</div>
            <div class="item">
              地址：郑州市农业路与政七街交叉口省汇中心B座2008
            </div>
            <div class="item">电话：0371-65733026 15638502326</div>
            <div class="item">邮箱：worldlietou@163.com</div>
          </div>
        </div>
        <div class="foot-bottom">
          Copyright © 2021 郑州中晟沃德人力资源服务有限公司
        </div>
      </div>
    </div>
  </body>
</html>
