{template "content","header"}
<!DOCTYPE html>
<html lang="en">
  <!-- <script src="{JS_PATH}zms/jquery2.js"></script> -->
  <script src="{JS_PATH}zms/swiper.min.js"></script>
  <link rel="stylesheet" href="{CSS_PATH}zms/index.css" />
  <link rel="stylesheet" href="{CSS_PATH}zms/swiper.min.css" />
  <link rel="stylesheet" href="{CSS_PATH}zms/animate.min.css" />
  <script src="{JS_PATH}zms/wow.js"></script>
  <body>
    <div id="header"></div>
    <div id="swiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="{IMG_PATH}zms/indexswiper/swiperimg1.png" alt="" srcset="" />
          </div>
          <div class="swiper-slide">
            <img src="{IMG_PATH}zms/indexswiper/swiperimg2.png" alt="" srcset="" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div id="project">
      <div class="title wow fadeInUp" data-wow-delay="0.2s">
        <img src="{IMG_PATH}zms/pic_xiangmu.png" alt="" />
      </div>
      <div class="box wow fadeInLeft" data-wow-delay="0.3s">
        <!-- 服务项目 -->
        {pc:block pos="index_service"}{/pc}
      </div>
    </div>
    <div id="about">
      <div class="title wow fadeInUp">
        <img src="{IMG_PATH}zms/pic_guanyu.png" alt="" />
      </div>
      <div class="box wow fadeInRight">
        <!-- 关于沃德 -->
        {pc:block pos="index_about"}{/pc}
        
      </div>
      <div class="more">MORE</div>
    </div>

    <div id="advantages">
      <div class="title wow fadeInLeft">
        <img src="{IMG_PATH}zms/pic_youshi.png" alt="" />
      </div>
      <div class="box">
        <!-- 沃德优势 -->
        {pc:block pos="index_advantage"}{/pc}
      </div>
    </div>

    <div id="liucheng">
      <div class="title wow fadeInRight">
        <img src="{IMG_PATH}zms/pic_liucheng.png" alt="" />
      </div>
      <div class="box wow fadeInUp" data-wow-delay="0.2s">
        <img src="{IMG_PATH}zms/pic_liuchengtu.png" alt="" />
      </div>
    </div>

    <div id="news">
      <div class="title wow fadeInLeft">
        <img src="{IMG_PATH}zms/pic_xinwen.png" alt="" />
      </div>
      <div class="box">
        <div class="item wow fadeInLeft">
          <img src="{IMG_PATH}zms/pic_shebao.png" alt="" />
          <div class="item-title">人力资源如何为企业创造价值</div>
          <div class="item-content">
            可能从人力资源诞生之初，对人力资源价值的争论就没有停息过，质疑的原因无非是人力资源不直接创造效益...
          </div>
          <a class="href" href="/">[阅读全文]</a>
          <div class="item-list">
            <!-- 社保知识 -->
            {pc:content action="lists" catid="42" order="id DESC" num="4"}
              {loop $data $key $val}
              <div class="li">
                <div class="icon">
                  <img src="{IMG_PATH}zms/icon_sanjiao.png" alt="" />
                </div>
                <div class="name">{$val['title']}</div>
                <div class="time">{php echo date("Y/m/d",$val['inputtime'])}</div>
              </div>
              {/loop}
            {/pc}

            
            
          </div>
        </div>
        <div class="item wow fadeInUp">
          <img src="{IMG_PATH}zms/pic_caishui.png" alt="" />
          <div class="item-title">如何应对微信带来的隐形加班</div>
          <div class="item-content">
            可能从人力资源诞生之初，对人力资源价值的争论就没有停息过，质疑的原因无非是人力资源不直接创造效益...
          </div>
          <a class="href" href="/">[阅读全文]</a>
          <div class="item-list">
            <!-- 财税知识 -->
            {pc:content action="lists" catid="43" order="id DESC" num="4"}
              {loop $data $key $val}
              <div class="li">
                <div class="icon">
                  <img src="{IMG_PATH}zms/icon_sanjiao.png" alt="" />
                </div>
                <div class="name">{$val['title']}</div>
                <div class="time">{php echo date("Y/m/d",$val['inputtime'])}</div>
              </div>
              {/loop}
            {/pc}
          </div>
        </div>
        <div class="item wow fadeInRight">
          <img src="{IMG_PATH}zms/pic_xiaoshou.png" alt="" />
          <div class="item-title">新手成功销售必不可少的十大技巧</div>
          <div class="item-content">
            可能从人力资源诞生之初，对人力资源价值的争论就没有停息过，质疑的原因无非是人力资源不直接创造效益...
          </div>
          <a class="href" href="/">[阅读全文]</a>
          <div class="item-list">
            <!-- 销售知识 -->
            {pc:content action="lists" catid="44" order="id DESC" num="4"}
              {loop $data $key $val}
              <div class="li">
                <div class="icon">
                  <img src="{IMG_PATH}zms/icon_sanjiao.png" alt="" />
                </div>
                <div class="name">{$val['title']}</div>
                <div class="time">{php echo date("Y/m/d",$val['inputtime'])}</div>
              </div>
              {/loop}
            {/pc}
          </div>
        </div>
      </div>

      <div id="partner">
        <div class="title wow fadeInUp">
          <img src="{IMG_PATH}zms/pic_hezuo.png" alt="" />
        </div>
        <img
          class="partner-bg wow fadeInRight"
          src="{IMG_PATH}zms/pic_hezuobg.png"
          alt=""
        />
      </div>
    </div>
  </body>
  <script>
    var wow = new WOW({
      boxClass: "wow",
      animateClass: "animated",
      offset: 0,
      mobile: true,
      live: true,
    });
    wow.init();
    var mySwiper = new Swiper(".swiper-container", {
      autoplay: true,
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</html>

{template "content","footer"}
