{template "content","header"}
<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="{CSS_PATH}zms/list.css" />
	<link rel="stylesheet" href="{CSS_PATH}zms/news.css" />
  <body>
  	<div id="header"></div>
    <div class="banner">
      <img src="{IMG_PATH}zms/listbanner.png" />
    </div>
    <div class="contentWrap">
       <div class="w_1200">
       	    <div class="news_left">
							<div class="news_top">
								<div class="title">
									<h1>新闻动态</h1>
									<p>NEWS INFORMATION</p>
								</div>
								<ul>
									{pc:content action="category" catid="$parentid" return="datainfo" }
										{loop $datainfo $k $val}
											<a href="/index.php?m=content&c=index&a=lists&catid={$val[catid]}"><li {if $k == $catid} class="active" {/if} >{$val[catname]}</li></a>
										{/loop}
									{/pc}
								</ul>
							</div>
							
							<div class="news_bottom">
								{pc:block pos="list_tel"}{/pc}
							</div> 
						</div>
						
		        <div class="list_right">

					{pc:get sql="SELECT * FROM v9_news where catid = $catid order by id desc" page="$page" num="10" return="datainfo" }
						{loop $datainfo $k $val}
							<dl>
								<dt><em></em><a href="{$val[url]}">{$val[title]}</a></dt>
								<dd class="dd_1">{$val[description]}</dd>
								<dd class="dd_2"><a href="{$val[url]}">了解详情</a></dd>
						  </dl>
						{/loop}
					{/pc}

					<div class="page">
						<!--页码-->
						{$pages}
					</div>

		        </div>  
       	
       </div>
    </div>
    {template "content","footer"}
  <script src="{JS_PATH}zms/jquery2.js"></script>

  </body>
</html>

