{template "content","header"}
<!DOCTYPE html>
<html>

	<link rel="stylesheet" href="{CSS_PATH}zms/news.css" />

<body>

	<div id="header"></div>
	<img class="banner" src="{IMG_PATH}zms/pic_guanyubanner.png" alt="" />
	<div class="contentWrap">
		<div class="aboutTab">
			<a>公司简介</a>
			<a>资质荣誉</a>
			<a>企业文化</a>
			<a>社会责任</a>
		</div>

		<div class="w_about">
			<h1>郑州中晟沃德人力资源服务有限公司</h1>
			<p><b>郑州中晟沃德人力资源服务有限公司</b> 是经郑州市人力资源和社会保障局批准，具有独立法人资格的一家专业人力资源管理服务机构。 </p>
			<p>
				公司自成立以来，专注于为优秀企业提供人力资源全领域全方位的专业化服务，旨在为企业解决招聘难度大、人员流动快、用工成本高、劳动风险大等人力资源管理问题。公司充分考虑客户的需求，采取灵活多样的形式，在法律法规、国家政策和相关政府部门批准允许的服务范围之内，以客户满意为检验服务效果的标准，尽可能多的为客户提供高质量的服务。主要服务内容是：劳务派遣和外包、员工招聘、合同管理、员工培训、组织体检、社会保障办理、薪酬发放、劳动保护、绩效管理、组织开展形式多样的文化娱乐活动、开展员工余缺调配、代扣代缴员工个人所得税或其他费用、依据相关法律法规处理员工与客户之间的劳动纠纷、为客户提供劳动人事政策和法规咨询等
			</p>
			<p>
				公司具有覆盖全国的招聘网络、完善便捷的产品体系、海量储备的人才资源等优势，可以随时随地进行高效灵活的动态调配，能够为企业真正提供全方位“一站式服务”。
			</p>
			<img src="{IMG_PATH}zms/pic_jianjie.png" alt="" />
		</div>
	</div>



	<script src="{JS_PATH}zms/jquery2.js"></script>
	
</body>

</html>
{template "content","footer"}
