{template "content","header"}
<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="{CSS_PATH}zms/news.css"/>  
<body> 
	<style>
		.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
		.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
		</style>
	
<div id="header"></div>			
<img class="banner" src="{IMG_PATH}zms/pic_lianxi.png" alt="" />
<div class="contentWrap">
	<div class="w_lianxi">
		{pc:block pos="contact_us"}{/pc}
	</div>
</div>

{template "content","footer"} 
<script src="{JS_PATH}zms/jquery2.js"></script>

</body>
</html>

