{template "content","header"}
<!DOCTYPE html>
<html>

	<link rel="stylesheet" href="{CSS_PATH}zms/news.css" />

<body>
	<div id="header"></div>
	<img class="banner" src="{IMG_PATH}zms/listbanner.png" alt="" />
	<div class="contentWrap">
		<div class="w_1200">
			<div class="news_left">
				<div class="news_top">
					<div class="title">
						<h1>新闻动态</h1>
						<p>NEWS INFORMATION</p>
					</div>
					<ul>
						{pc:content action="category" catid="14" return="datainfo" }
							{loop $datainfo $k $val}
								<a href="/index.php?m=content&c=index&a=lists&catid={$val[catid]}"><li {if $k == $catid} class="active" {/if} >{$val[catname]}</li></a>								
							{/loop}
						{/pc}
					</ul>
				</div>

				<div class="news_bottom">
					<div class="title">
						<img src="{IMG_PATH}zms/icon_boda.png" alt="" />
						联系我们
					</div>
					<img class="kefuImg" src="{IMG_PATH}zms/pic_kefu.png" alt="" />
					<ul>
						<li>
							<h2>郑州中晟沃德人力资源服务有限公司</h2>
						</li>
						<li>地址：郑州市金水区农业路东16号省汇中心B座2008</li>
						<li>电话：0371-65733026 15638502326</li>
						<li>邮箱：worldlietou@163.com</li>
					</ul>
				</div>

			</div>
			<div class="news_right">
				<div class="site_box">
					您当前的位置：
					<a style="margin-left: -4px;" href="" target="_blank">首页</a>
					>
					<a href="/index.php?m=content&c=index&a=lists&catid=14" target="_blank">新闻动态</a>><em>{$category_info['catname']}</em>
				</div>
				<div class="title">{$title}</div>
				<div class="date">日期：{$updatetime} &nbsp; &nbsp; &nbsp; 来源：{if $copyfrom}{$copyfrom}{else}本站{/if}</div>
				<div class="text">
					{$content}
				</div>


			</div>
		</div>
	</div>

	<script src="{JS_PATH}zms/jquery2.js"></script>
	
</body>

</html>
{template "content","footer"}
