{template "content","header"}
<!DOCTYPE html>
<html>

	<link rel="stylesheet" href="{CSS_PATH}zms/news.css" />

<body>
	<div id="header"></div>
	<img class="banner" src="{IMG_PATH}zms/listbanner.png" alt="" />
	<div class="contentWrap">
		<div class="w_1200">
			<div class="news_left">
				<div class="news_top">
					<div class="title">
						<h1>新闻动态</h1>
						<p>NEWS INFORMATION</p>
					</div>
					<ul>
						<li class="active">社保知识</li>
						<li>财税知识</li>
						<li>销售知识</li>
					</ul>
				</div>

				<div class="news_bottom">
					<div class="title">
						<img src="{IMG_PATH}zms/icon_boda.png" alt="" />
						联系我们
					</div>
					<img class="kefuImg" src="{IMG_PATH}zms/pic_kefu.png" alt="" />
					<ul>
						<li>
							<h2>郑州中晟沃德人力资源服务有限公司</h2>
						</li>
						<li>地址：郑州市金水区农业路东16号省汇中心B座2008</li>
						<li>电话：0371-65733026 15638502326</li>
						<li>邮箱：worldlietou@163.com</li>
					</ul>
				</div>

			</div>
			<div class="news_right">
				<div class="site_box">您当前的位置：<a style="margin-left: -4px;" href="" target="_blank">首页</a>><a href=""
						target="_blank">新闻动态</a>><em>社保知识</em></div>
				<div class="title">如何优化人力资源配置？</div>
				<div class="date">日期：2018-06-05 13:21:36 &nbsp; &nbsp; &nbsp; 来源：本站</div>
				<div class="text">
					<p>
						人力资源是公司发展的基石。无论高层制定战略、发挥领导力才能，还是执行层承接战略、落地实施，每一个运营环节都必须依靠合格的人才来操作执行。人力资源需要在质量与数量上满足公司的整体战略或各项业务目标，并通过一系列的人力资源业务流程（如招聘、薪酬、培训等）以达成其人力资源业务目标。

						<p> 公司根据企业行业类型、战略及业务目标而对人才数量及质量的综合配置，即为人力资源配置模型。对人力资源配置模型的综合分析、灵活运用，不仅可以帮助人力资源部分析现有配置情况是否与公司人力资源战略相互匹配，还可以促使公司更有效地贯彻、落实人力资源战略，使其在流程层面得到有效落地。
						</p>

						<p>人力资源配置模型是基于公司职级结构并对公司员工职级情况进行文本量化的结果。公司人力资源部根据岗位的重要性、是否更偏向执行、是否更偏向管理或战略制定、是否具有专业的技术或技能等相应地设置管理线及专业线岗位，并相应地设不同的级别。相应地，岗位、级别的差异则在对应的薪酬体系中得以体现。
						</p>

						<p>构建配置模型：科学量化人力资源</p>

						<p>为了获取公司人力资源配置模型，我们需要对员工的“岗位-职级”信息进行数据量化。一般而言，我们可以按照这些职位在岗级体系中的重要性，并参照对应的薪酬数据或其他参考标准作为基数，而进行等比例赋值，最终形成公司人力资源的配置模型。在量化、构建人力资源配置模型时往往需要注意：
						</p>

						<p> 合理选取量化标的。量化标的即指选择量化的“文本数据源”。由于人力资源信息往往是文本类型的，如岗位、职称、性别、部门等，故在选取量化指标时往往需要优先考虑标的物的合理性。一般来讲，我们选取的标的物是对带分析问题最为直接的。如，在分析人力资源配置模型时，我们往往选择各岗位、职级人员数量来进行分析。量化标的的选择可能会影响整体分析结果。假设我们选择了公司定编岗位、职级人员数量来进行分析的话，那结果可能会与按照实际人员数量分析出来的结果背道而驰。
						</p>

						对指标进行合理赋值量化。对文本数据的量化方法有很多种，如管理层打分、按平均晋升时间、平均工资、岗位贡献度等。我们在对文本数据进行赋值量化时，需优先考虑其合理性，即量化标准是与标的物直接相关，并随着标的物的变化而进行更新。其次，我们在进行标的物量化时还需要考虑获取该指标的难易程度，同时尽量减少人工判断。
					</p>



				</div>


			</div>
		</div>
	</div>

	<script src="{JS_PATH}zms/jquery2.js"></script>
	
</body>

</html>
{template "content","footer"}
